<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BankAccount.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gdg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>seg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06839EA9176701F600DAAEDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06839EBA176701F700DAAEDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ADAF221795282600FC179E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ADAF561795282700FC179E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ADAF721795286F00FC179E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ADAF961795286F00FC179E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
